* {
    margin: 0;
    transition: 0.2s;
    font-family: "Fire Code", monospace;
}

body {
    background-color: #e8e8e8;
}


#site-header {
    /* background-image: url("../assets/image/image.jpg"); */
    background-color: #004480;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#panel {
    width: 500px;
    height: 85%;
    border-radius: 15px;
    /* box-shadow: 0px 0px 1rem 0px rgba(0,0,0, 0.2); */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#ball {
    background-color: rgba(255, 255, 255, 0.85);
    width: 230px;
    height: 230px;
    margin-top: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#links-section {
    margin: 0 auto 0 auto;
    width: 500px;
    background-color: #004480;
    height:625px;
    border-radius: 15px;
}


#links {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#link {
    margin-top:15px;
    /* background-color: #004480; */
    border: 4px solid #24272b;
    width: calc(100% - 34px);
    height: 4rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-out;
    font-size: 28px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    border: 4px solid #004480;
    text-decoration: none;
    animation: link 0.3s backwards 0.3s;
    transform: scaleX(1);
    transform-origin: 0 50%;
}


@keyframes link {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.link-icon {
    font-size: 40px;
    margin-left: 1rem;
}

#link-text {
    margin-left: 15px;
}

#link:hover {
    background-color: #004480;
}

#text-header {
    color: rgba(255, 255, 255, 0.85);
    /* font-variant: small-caps; */
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-top:1.5rem;
    margin-bottom: 0.5rem;
    display: flex;

}

main {
    width: 100%;
    height: calc(100% - 25rem);
    background-color: #004480;
    animation: animation 0.4s backwards;
}

@keyframes animation {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}

article {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(255, 255, 255, 0.85);
}

footer {
    height: 60px;
    width: 100%;
    background-color: #004480;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animation 0.4s backwards;
}

footer > a {
    color: rgba(255, 255, 255, 0.85);
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

footer > a::after {
    position: absolute;
    content: " " ;
    width: 210px;
    height: 3px;
    text-decoration: underline ;
    transform: scaleX(0);
    background-color: rgba(255, 255, 255, 0.85);
    transition: 0.2s ease-in-out;
}
footer > a:hover::after {
    transform: scaleX(1);
}

@media (max-width:600px){
    #site-header {
        height: 18rem;
    }
    
    #ball {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    #panel {
        height: 80%;
        width: 350px;
    } 

    #links-section {
        width: 350px;
    }

    .link-icon {
        font-size: 28px;
    }

    #link {
        font-size: 22px;
    }

    #text-header {
        font-size: 20px;
        margin-top:0.5rem;
    }
}